In [2]:
from sklearn.datasets import make_classification
import pandas as pd
from IPython.display import display
x, y = make_classification()
x = pd.DataFrame(x).iloc[:5, :5]
x

          0         1         2         3         4
0  0.863808 -0.345344  0.688662  0.331796 -0.599601
1  1.328449  2.121605 -0.484207 -0.421270  0.099012
2 -0.192531 -1.379669  1.034518 -0.608169  1.185266
3 -0.067061  2.176350 -0.905179 -1.411399  0.976796
4  1.438298 -0.559604  1.097141  0.732937 -0.408025

In [16]:
f = lambda v: 'background-color: %s' % 'green' if v>0 else ''
x2 = x.style.applymap(f)
# x2.to_excel('d:/temp/styled.xlsx', engine='openpyxl')
x2

In [17]:
x.style.applymap(f, subset=[0])

In [21]:
x.style.applymap(f, subset=x.columns.difference([0]))

In [40]:
# duplicated rows
x_3 = x.append(x).reset_index(drop=True)
rows_series = x_3[[0,1]].duplicated()
rows = rows_series[rows_series].index.values
x_3.style.apply(lambda x: ['background: green' if x.name in rows else '' for i in x], axis=1)

In [95]:
def highlight_vals(row, cols=[0, 3], color1='green', color2="blue"):
    a, b = cols
    styles = {col: '' for col in row.index}
    if row[a] > 0.25 * row[b]:
        styles[a] = 'background-color: %s' % color1
        styles[b] = 'background-color: %s' % color2
    return styles

x.style.apply(lambda x: highlight_vals(x), axis=1)

In [46]:
x.style.apply(lambda x: ["background: red" if x[0] < 0 and idx in [0,4] else "" for idx, v in enumerate(x)], axis = 1)